/* Estilos Propios */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}

header.navbar{
    font-size: 16px;
    color: #485700;
    margin-bottom: 0px;
  }
  
  .navbar-custom{
    background-color: #f8f8f8;
      border-color: #e7e7e7;
      border-radius: 4px;
  }
  
  .logo-header{
    max-width: 100%;
    height: auto;
  }

  .pleca{
    background-image: url(/images/logos/plecacolores.png);
    background-size: contain;
    height: 7px;
  }

  .header-text{
    padding-top: 9px;
  }

  .header-text>h1{
    font-size: 30px;
    line-height: 41px;
    color: #5A6523;
  }

  .encabezado-text{
    padding-right: 0px;
    padding-left: 0px;
  }

  .linea {
    border-bottom: 5px solid #879E0F;
    /* height: 2px;
    max-width: 200px;
    padding: 0; */
    /* margin: 20px auto 0 auto; */
  }

  .leyenda{
      font-size: 22px;
  }

  .header-container{
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
  }

  .bold{
    font-weight: bold;
    font-family: "Roboto";
  }

  .fondo{
    background: url(../images/logos/imagen_folio.jpg) fixed center no-repeat;
    background-size: cover;
  }

  span{
    font-family: 'Roboto' !important;
  }

  .candidatos {
    /* display: block; */
    /* top: 0px; */
    /* position: relative; */
   
    /* background-color: #f2f8f9; */
    border-radius: 4px;
    /* padding: 32px 24px; */
    /* margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9; */
  }
  
    .candidatos:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(35, 163, 41, 0.8);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: rgba(56,193,114, 0.2);
    }
  
    .candidatos:before {
     
    }
  
    .candidatos:hover:before {
      transform: scale(2.15);
    }
  
    .active-candidatos{
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(35, 163, 41, 0.8);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: rgba(56,193,114, 0.2);
    }